<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="index.html">
			<img src="../image/logo.jpg" width="75" height="auto" alt="">
		</a>
		<button type="button" class="navbar-toggler btn btn-sm btn-outline-secondary" data-toggle="collapse" data-target="#links">
			<i class="fas fa-bars"></i>
		</button>

		<nav id="links" class="collapse navbar-collapse">
			<ul class="navbar-right nav navbar-nav ">
				<li class="nav-item">
					<a class="nav-link" id="#" href="index.html">
					<i class="fas fa-home"></i>
						Home
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-users"></i>
						Pessoas
					</a>
					<div class="dropdown-menu" aria-labelledby="#">
						<a class="dropdown-item" id="#" href="cadastro.html">
							<i class="fas fa-user-plus"></i>
							Cadastro de Solicitação
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" id="#" href="consultar.html">
							<i class="fas fa-search"></i>
							Consultar Solicitação
						</a>
						<div class="dropdown-divider"></div>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="#" href="relatorio.html">
					<i class="fas fa-file-alt"></i>
						Relatórios
					</a>
				</li>
			</ul>
		</nav>
	</div>
</nav>

<div id="modalContainer">
	<div id="loading"></div>
</div>