<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cev | Home</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap4.min.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">

</head>

<body>
	<div id="header"></div>
	<div class="row">
		<div class="col mx-auto text-center">
			<img src="../image/colegio.png" alt="">
		</div>
	</div>
</body>

<script src="../js/jquery.js"></script>
<script src="../js/bootstrap4.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/index.js"></script>

</html>